---
import type { Section } from "@/types";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import { markdownify } from "@/lib/utils/textConverter";
import BtnText from "../buttons/BtnText.astro";
import { getLocaleUrlCTM } from "@/lib/utils/languageParser.ts";

// Type for this section data
type page_intro_type = Section;
type Props = {
  content?: page_intro_type;
  service_image?: string;
};

const { content, service_image } = Astro.props;

// Fetching the default content using getEntry ((await getEntryCTM("sections", "our-values", Astro.currentLocale))?.data) for the this section (If applicable)
let default_content = {} as page_intro_type;

// Enables content customization (e.g., title, description) with a fallback to 'default_content' if not provided.
// The 'content' prop should match the structure of 'default_content'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'default_content' will be used.
let actual_content = overrideObjects(
  { ...default_content },
  content,
) as page_intro_type;

// Extracting required values from 'content' object
let { enable, image, title, description, cta_btn } =
  actual_content as page_intro_type;

// If no image is provided, use the default service image
if (!image) {
  image = service_image;
}
---

{
  enable && (
    <section>
      <div class="container">
        <div class="relative pt-8 sm:pt-72 md:pt-[20.0625rem]">
          {image && (
            <OptimizedImage
              data-aos="fade-up-sm"
              data-aos-delay="200"
              src={image}
              alt={title || "About Us"}
              class="!h-52 max-h-full w-full object-cover sm:absolute sm:top-0 sm:left-0 sm:-z-10 sm:!h-[36.0625rem]"
            />
          )}
          <div
            data-aos-delay="300"
            data-aos="fade-up-sm"
            data-aos-offset="0"
            class="box-shadow-primary bg-white px-5 py-7 sm:mx-16 sm:max-w-4xl md:px-10 md:py-14 lg:ml-24">
            {title && (
              <h2
                class="text-h4 md:text-h3 text-primary mb-5"
                set:html={markdownify(title)}
              />
            )}
            {description && <p set:html={markdownify(description)} />}
            {cta_btn && cta_btn.enable && (
              <BtnText
                title={title}
                label={cta_btn.label}
                slug={getLocaleUrlCTM(cta_btn.url, Astro.currentLocale)}
                class="text-base-sm mt-8 capitalize md:text-base"
              />
            )}
          </div>
        </div>
      </div>
    </section>
  )
}
